.flex
    .intro.animate#microsoft-container
        .logo
            - (1..4).each do
                .box
        .brand
            Microsoft

%iframe.player{:width => 0, :height => 0, :src => "https://www.youtube.com/embed/I3Ak5VgyEoc?autoplay=1" }